 <a href="/Course/index">List</a>
    <h2>Course form</h2>
    <form action="/Course/create" method="POST">
    <table>
    
    <tr><td>Course Code<td><input type="text" name="Course[code]"><br/>
    <tr><td>Course Name<td><input type="text" name="Course[name]"><br/>
    <tr><td>Remark<td><input type="text" name="Course[remark]">
    <tr ><td><td><input type="submit" value="ADD">
    </form>