 <a href="/StudentD/index">List</a>
    <h2>StudentD Form</h2>
    <form action="/StudentD/create" method="POST">
    <table>
    
    <tr><td>UID<td><input type="text" name="StudentD[uid]"><br/>
    <tr><td>Student ID<td><input type="text" name="StudentD[sid]"><br/>
    <tr><td>Student Name<td><input type="text" name="StudentD[name]">
    <tr><td><td><input type="submit" value="ADD">
    </form>