 <a href="/Registration/index">List</a>
    <h2>Registration relation form</h2>
    <form action="/Registration/create" method="POST">
    <table>
    
    <tr><td>UID<td><input type="text" name="Registration[uid]"><br/>
    <tr><td>CourseID<td><input type="text" name="Registration[cid]"><br/>
    <tr><td>Attendance<td><input type="text" name="Registration[attendance]">
    <tr ><td><td><input type="submit" value="ADD">
    </form>