<a href="/Registration/create">+Create</a>|<a href="/Registration/index">List</a>|<a href="/Registration/update/<%= model.id %>">Update</a>

<h2>View Registration </h2>
<ul>
	<li>UID: <%=model.uid%></li>
	<li>CourseID: <%=model.cid%></li>
	<li>Attendance: <%=model.attendance%></li>
</ul>