 <a href="/AttendanceD/index">List</a>
    <h2>AttendanceD Form</h2>
    <form action="/AttendanceD/create" method="POST">
    <table>
    
    <tr><td>UID<td><input type="text" name="AttendanceD[uid]"><br/>
    <tr><td>Course Code<td><input type="text" name="AttendanceD[code]">

    <tr><td><td><input type="submit" value="ADD">
    </form>