 <a href="/Attendance/index">List</a>
    <h2>Attendance Form</h2>
    <form action="/Attendance/create" method="POST">
    <table>
    
    <tr><td>UID<td><input type="text" name="Attendance[uid]"><br/>
    <tr><td>Course Code<td><input type="text" name="Attendance[code]">

    <tr><td><td><input type="submit" value="ADD">
    </form>