 <a href="/CourseD/index">List</a>
    <h2>CourseD form</h2>
    <form action="/CourseD/create" method="POST">
    <table>
    
    <tr><td>Course Code<td><input type="text" name="CourseD[code]"><br/>
    <tr><td>Course Name<td><input type="text" name="CourseD[name]"><br/>
    <tr><td>Remark<td><input type="text" name="CourseD[remark]">
    <tr ><td><td><input type="submit" value="ADD">
    </form>