 <a href="/RegistrationD/index">List</a>
    <h2>RegistrationD relation form</h2>
    <form action="/RegistrationD/create" method="POST">
    <table>
    
    <tr><td>UID<td><input type="text" name="RegistrationD[uid]"><br/>
    <tr><td>CourseID<td><input type="text" name="RegistrationD[cid]"><br/>
    <tr><td>Attendance<td><input type="text" name="RegistrationD[attendance]">
    <tr ><td><td><input type="submit" value="ADD">
    </form>