<a href="/RegistrationD/create">+Create</a>|<a href="/RegistrationD/index">List</a>|<a href="/RegistrationD/update/<%= model.id %>">Update</a>

<h2>View RegistrationD </h2>
<ul>
	<li>UID: <%=model.uid%></li>
	<li>CourseID: <%=model.cid%></li>
	<li>Attendance: <%=model.attendance%></li>
</ul>