 <a href="/Student/index">List</a>
    <h2>Student Form</h2>
    <form action="/Student/create" method="POST">
    <table>
    
    <tr><td>UID<td><input type="text" name="Student[uid]"><br/>
    <tr><td>Student ID<td><input type="text" name="Student[sid]"><br/>
    <tr><td>Student Name<td><input type="text" name="Student[name]">
    <tr><td><td><input type="submit" value="ADD">
    </form>