 <a href="/UserInfo/index">List</a>
    <h2>UserInfo Create form</h2>
    <form action="/UserInfo/create" method="POST">
    <table>
    
    <tr><td>Name<td><input type="text" name="UserInfo[name]"><br/>
    <tr><td>Age<td><input type="text" name="UserInfo[age]">
    <tr ><td><td><input type="submit" value="ADD">
    </form>