<a href="/UserInfo/create">+Create</a>|<a href="/UserInfo/index">List</a>|<a href="/UserInfo/update/<%= model.id %>">Update</a>

<h2>View <%=model.name%></h2>
<ul>
	<li>Name:<%=model.name %></li>
	<li>Age:<%=model.age %></li>
</ul>